{% extends "base.html" %}

{% block controls %}
	{% if path != "/" %}
		{% if user != "login" %}
			<a class="gray-link" href="/_edit{{path}}">edit</a>
		{% endif %}
		<a class="gray-link" href="/_history{{path}}">history</a>
	{% endif %}
{% endblock %}
	
{% block content %}
	<h1 id="content-title">{{path}}</h1>
	<div id="content-text">
	{% if path != "/" %}
		{{content}}
	{% else %}
		this is a toy wiki site constructed as a final project for udacity's cs 253 course web development
		fundamentals. it's not meant for use. i plan to use it exclusively to enter articles about hats
		
		<p>to create a new entry subject, type the subject in the url after the domain. if you wanted to create a page about gogurt, you would type: http://frickfrackhello.appspot.com/wiki/gogurt</p>
		
	{% endif %}
	</div>
{% endblock %}