{% extends "base.html" %}

{% block controls %}
{% endblock %}
	
{% block content %}
	<h1 id="content-title">/</h1>
	<div id="content-text">
		<p>This is a toy wiki site constructed as a final project for Udacity's CS 253 course Web Development
		Fundamentals. </p>
		
		<p>It's a demonstration of server-side Python deployed by Google App Engine using webapp2 handlers and Jinja2 templates. Data is stored through GAE's Datastore.</p>
		
		<p>The code for the project is available at <a href="https://github.com/TylerCuster/wiki">Github</a>.</p>
		
		<p>Some things to do: </p>
		<ul class="front-page-list">
		<li><a class="reg-link" href="/signup">Signup</a> or <a class="reg-link" href="/login">login</a>.</li>
		<li>Create a new entry by clicking 'new entry' or typing the URL '/title' with your desired new entry title.</li>
		<li>Edit an entry by clicking 'edit' on a page or typing the URL '/_edit/title' with your desired title.</li>
		<li>View the edit history by clicking 'history' on a page or typing the URL '/_history/title' with your desired title.</li>
		</ul>
		<p>Current issues:</p>
		<ul class="front-page-list">
		<li>
		HTML is not escaped in the page entries. I'm trusting 'users' not to mess with my site. This is sensible because the only 'user' is myself.
		</li>
		</ul>
	</div>
{% endblock %}