{% extends "base.html" %}

{% block controls %}
{% endblock %}
	
{% block content %}
	<h1 id="content-title">/</h1>
	<div id="content-text">
		<p>this is a toy wiki site constructed as a final project for udacity's cs 253 course web development
		fundamentals. it's not meant for real use.</p>
		
		<p>current issues:</p>
		<ul class="front-page-list">
		<li>
		html is not escaped in the page entries. i'm trusting 'users' to not mess with my site. this is sensible because the only 'user' is myself.
		</li>
		<li>
		the site currently sets cookies through a string. i want to change this to an object and for it to throw an exception when the user is not logged in and attempts to access a page.
		</li>
		</ul>
	</div>
{% endblock %}