{% extends "base.html" %}

{% block controls %}
	{% if path != "/" %}
		{% if user != "login" %}
			<a class="gray-link" href="/_edit/{{path}}">edit</a>
		{% endif %}
		<a class="gray-link" href="/_history/{{path}}">history</a>
	{% endif %}
{% endblock %}
	
{% block content %}
	<h1 id="content-title">results for {{path}}</h1>
	<div id="content-text">
	<ul>
	{% if found %}
		{% for entry in found %}
		<li>
		<a href="{{entry}}">{{entry}}</a>
		</li>
		{% endfor %}
	{% else %}
		no results found
	{% endif %}
	</ul>
	</div>
{% endblock %}